<footer>
    <div>
      <div class="rodape">
        <div class="rodape__links">
          <div class="rodape__links__navegacao">
            <h3>Navegação</h3>
            <ul>
              <li [routerLink]="['']"><a>Home</a></li>
              <li [routerLink]="['/about']"><a>O Hotel</a></li>
              <li [routerLink]="['/accommodations']"><a>Acomodações</a></li>
              <li [routerLink]="['/contact']"><a>Contato</a></li>
            </ul>
          </div>
          <div class="rodape__links__sobre-nos">
            <h3>Sobre nós</h3>
            <ul>
              <li><a>Fale com a gente</a></li>
              <li><a>Onde estamos</a></li>
              <li><a>Trabalhe conosco</a></li>
              <li>
                <p>Siga-nos:</p>
              </li>
              <li id="redes-sociais">
                <a href="#"
                  ><img src="https://raw.githubusercontent.com/rtof83/tex-js-grupo4/dev/src/assets/images/facebook.png" alt="facebook logo"
                /></a>
                <a href="#">
                  <img
                    src="https://raw.githubusercontent.com/rtof83/tex-js-grupo4/dev/src/assets/images/instagram.png"
                    alt="instagram logo"
                /></a>
                <a href="#">
                  <img src="https://raw.githubusercontent.com/rtof83/tex-js-grupo4/dev/src/assets/images/whatsapp.png" alt="whatsapp logo"
                /></a>
              </li>
            </ul>
          </div>
          <div class="rodape__links__termos">
            <h3>Termos e Condições</h3>
            <ul>
              <li><a href="#">Termos de Uso</a></li>
              <li><a href="#">Política de privacidade</a></li>
            </ul>
          </div>
        </div>
        <div class="rodape__seta">
          <div class="rodape__seta__top-btn">
            <a>
              <img
                class="seta"
                src="https://raw.githubusercontent.com/rtof83/tex-js-grupo4/dev/src/assets/images/up-arrow-png-27160.png"
                alt="seta pra cima"
              />
            </a>
          </div>
          <div class="rodape__seta__idioma">
            <label for="idioma">Idioma:</label>
            <select name="idioma" id="idioma">
              <option value="portugues">Português</option>
              <option value="ingles">Inglês</option>
              <option value="espanhol">Espanhol</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </footer>
  