.rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
  }
  .rodape__seta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 8rem;
  }
  .rodape__seta div {
    display: flex;
  }
  .rodape__seta__idioma select {
    font-weight: bold;
  }
  .rodape__seta__top-btn img {
    width: 35px;
    cursor: pointer;
  }
  .rodape__links {
    display: flex;
    gap: 50px;
  }
  .rodape__links__termos ul li a, .rodape__links__sobre-nos ul li a, .rodape__links__navegacao ul li a {
    padding: 5px;
    color: rgba(33, 33, 65, 0.9);
    font-weight: bold;
  }
  .rodape__links__termos ul li a:hover, .rodape__links__sobre-nos ul li a:hover, .rodape__links__navegacao ul li a:hover {
    padding: 5px;
    background-color: rgba(24, 33, 89, 0.5725490196);
    color: #fff;
    border-radius: 5px;
  }
  .rodape__links__navegacao li {
    cursor: pointer;
  }

  #redes-sociais a:hover {
    padding: 5px;
    background-color: #f1eab9;
    color: #fff;
    border-radius: 0;
  }
  #redes-sociais img {
    width: 35px;
    border-radius: 20px;
  }

  .container__local__links ul, .rodape__links__termos ul li, .rodape__links__sobre-nos ul li, .rodape__links__navegacao ul li {
  list-style: none;
}

.container__local__links ul li a, .rodape__links__termos ul li a, .rodape__links__sobre-nos ul li a, .rodape__links__navegacao ul li a {
  text-decoration: none;
}

footer {
    padding-top: 2rem;
    background-color: #f1eab9;
  }
  
  footer h3 {
    font-size: 1.5rem;
  }

  @media (max-width: 414px) and (orientation: portrait) {
    footer {
      font-size: 0.5rem;
    }
    footer h3 {
      font-size: 1.5rem;
    }
    footer li {
      font-size: 1rem;
    }
    footer .rodape {
      margin: 0;
      display: flex;
      flex-direction: column;
      background-color: #f1eab9;
    }
    footer .rodape__links {
      gap: 20px;
    }
    footer .rodape__links__sobre-nos {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    footer .rodape__links__navegacao, footer .rodape__links__termos {
      display: none;
    }
    footer .rodape__seta {
      gap: 12rem;
      align-items: flex-end;
      margin-right: 2rem;
      margin-top: -14rem;
    }
    footer .rodape__seta__idioma {
      font-size: 1rem;
    }
    footer .rodape__seta__top-btn img {
      width: 2rem;
    }
  }

  /* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
    footer h3 {
      font-size: 1.2rem;
    }
    .rodape {
      margin: 0 80px;
      padding-bottom: 10px;
    }
  }

  /* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
    footer h3 {
      font-size: 1.2rem;
    }
    .rodape {
      margin: 0 60px;
      padding-bottom: 20px;
    }
    .rodape__links {
      gap: 20px;
    }
  }

  /* MOBILE LANDSCAPE */
  @media (max-width: 915px) and (orientation: landscape) {
    footer h3 {
      font-size: 1.2rem;
    }
    .rodape {
      margin: 0 40px;
      padding-bottom: 10px;
    }
    .rodape__links {
      gap: 20px;
    }
  }