<div>
    <header id="topo" class="topo">
        <div class="topo__logo-name">
          <h1>Atlantic Hotel</h1>
        </div>
        <div class="topo__menu-hb">
          <img src="https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/hamburger-menu-24.png" alt="menu hamburguer" />
        </div>
      </header>
    
      <nav class="nav_menu">
        <ul>
          <li [routerLink]="['']"><a>Home</a></li>
          <li [routerLink]="['/about']"><a>O Hotel</a></li>
          <li [routerLink]="['/accommodations']"><a>Acomodações</a></li>
          <li [routerLink]="['/contact']"><a>Contato</a></li>
        </ul>
      </nav>
</div>
