header {
    background-color: #f1eab9;
  }
  
  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
  
  .topo {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 13rem;
    gap: 3rem;
  }
  .topo__logo {
    display: flex;
  }
  .topo__logo img {
    width: 5rem;
    justify-content: center;
  }
  .topo__logo-name h1::first-letter {
    font-size: 6rem;
    font-weight: bold;
  }
  .topo__menu-hb {
    display: none;
  }
  
  /* --------------  NAVBAR ----------------  */
  .nav_menu {
    z-index: 1;
    width: 100vw;
    background-color: rgb(233, 223, 223);
    position: sticky;
    top: 0;
  }
  .nav_menu ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0.5rem;
  }
  .nav_menu li {
    cursor: pointer;
  }
  .nav_menu ul li a {
    display: block;
    color: #000;
    font-size: 1.4rem;
    padding: 0 1.5rem;
    border-radius: 0.2rem;
    font-weight: 700;
  }
  .nav_menu ul li a:hover {
    background-color: rgba(24, 33, 89, 0.5725490196);
    color: #fff;
    border-radius: 5px;
  }
  .nav_menu:hover {
    opacity: 0.9;
  }


  /* --------------  RESPONSIVIDADE ----------------  */
/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
    .topo__menu-hb {
      display: block;
      position: absolute;
      top: 1vw;
      right: 1vw;
    }
    .topo__menu-hb img {
      width: 2rem;
    }
    .topo__logo img {
      width: 3rem;
      justify-content: center;
    }
    .topo__logo-name {
      display: flex;
    }
    .topo__logo-name h1 {
      margin-top: 40px;
      font-size: 2rem;
    }
    .topo__logo-name h1::first-letter {
      font-size: 4rem;
    }
    .nav_menu {
      width: 150px;
      position: absolute;
      display: none;
    }
    .nav_menu ul {
      flex-direction: column;
      gap: 0;
      padding: 0.5rem;
      margin: 1rem 0;
    }
    .nav_menu ul li a {
      border-bottom: 1px solid black;
    }
  }

  