<app-header></app-header>

<main>
    <section class="container">
      <article>
        <div>
          <h2 class="container__subtitle">Nossas Acomodações</h2>
          <span class="container__detalhe"></span>
        </div>
        <div class="container__text">
          <p>
            Nós do Atlantic Hotel oferecemos quartos confortáveis e elegantes
            que são perfeitos para qualquer tipo de viajante. Os nossos quartos
            estão equipados com todas as comodidades de que necessita para uma
            estadia relaxante e agradável, incluindo uma cama confortável,
            acesso Wi-Fi de alta velocidade, uma televisão com todos os canais,
            um mini-frigorífico e uma suíte privativa. A seguir apresentamos
            nosso catálogo de quartos, escolha o que mais te agrada e reserve
            já!
          </p>
        </div>
      </article>
      <article class="products-container">
        <div
          *ngFor="let item of accommodations"
          class="products-container__card"
        >
          <div
            class="products-container__card__product-image"
            [id]="'img-' + (item.id + 1)"
            [title]="item.accommodation"
          ></div>
          <h3>{{ item.accommodation }}</h3>
          <a class="products-container__card__btn">Reservar</a>

        </div>
      </article>
      <article>
        <div>
          <h2 class="container__subtitle">Queridinho dos hóspedes</h2>
          <span class="container__detalhe"></span>
        </div>
        <div class="container__content">
          <div class="container__content__text">
            <p>
              Nossa principal acomodação, o quarto Presidencial Luxo possui
              1.132 metros quadrados, design intimista com cores sóbrias e duas
              suítes com banheira de hidromassagem para a sua inteira
              disposição. Não deixe de conferir!
            </p>
          </div>
          <div class="container__content__image">
            <img
              src="https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/SuítePresidencial.jpg"
              alt="academia do hotel"
              title="Suíte Presidencial"
              width="600"
            />
          </div>
        </div>
      </article>
    </section>
  </main>

  <app-footer></app-footer>
  