* {
    margin: 0;
    padding: 0;
    font-family: "Italiana", serif;
    box-sizing: border-box;
    line-height: 2;
  }

p {
  font-family: "Della Respira", serif;
  font-size: 1.3rem;
}

#imagem1 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/QuartoCasal.png");
  width: 400px;
  height: 250px;
  opacity: 1;
  margin: 0 auto 20px auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#imagem1:hover {
  opacity: 0.7;
}

#imagem2 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/SuítePresidencial.jpg");
  width: 400px;
  height: 250px;
  opacity: 1;
  margin: 0 auto 20px auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#imagem2:hover {
  opacity: 0.7;
}

#imagem3 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/1604663246841.jpg");
  width: 400px;
  height: 250px;
  opacity: 1;
  margin: 0 auto 20px auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#imagem3:hover {
  opacity: 0.7;
}

#img-1 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/QuartoCasal.png");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-2 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/quarto-duplo-vista-mar.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-3 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/quarto_hotel.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-4 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/QuartoLuxo.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-5 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/suite-estudio-3.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-6 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/suite-executiva-4.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-7 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/1604663246841.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-8 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/suite-presidencial-1.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-9 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/SuítePresidencial.jpg");
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#image1 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/QuartoCasal.png");
  width: 400px;
  height: 280px;
}

#image2 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/SuítePresidencial.jpg");
  width: 400px;
  height: 280px;
}

#image3 {
  content: url("https://raw.githubusercontent.com/rtof83/tex-js-grupo4/main/src/assets/images/1604663246841.jpg");
  width: 400px;
  height: 280px;
}

h1 {
  text-shadow: 2px 2px 4px #000;
}

.products-container__card__btn, .container__subtitle {
  text-transform: uppercase;
}

.container__content div, .products-container__card h3, .products-container__card__btn, h1, .container__subtitle {
  text-align: center;
}

.container__detalhe {
  display: block;
  width: 15%;
  height: 0.4vh;
  margin-left: 42.5%;
  margin-top: -1.5%;
  background-color: #f1eab9;
}

.container__subtitle {
  font-size: 2rem;
  padding: 20px 0;
}

header {
  background-color: #f1eab9;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  footer h3 {
    font-size: 1.2rem;
  }
  .rodape {
    margin: 0 60px;
    padding-bottom: 20px;
  }
  .rodape__links {
    gap: 20px;
  }
}
/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  footer h3 {
    font-size: 1.2rem;
  }
  .rodape {
    margin: 0 40px;
    padding-bottom: 10px;
  }
  .rodape__links {
    gap: 20px;
  }
}
/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  footer {
    font-size: 0.5rem;
  }
  footer h3 {
    font-size: 1.5rem;
  }
  footer li {
    font-size: 1rem;
  }
  footer .rodape {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f1eab9;
  }
  footer .rodape__links {
    gap: 20px;
  }
  footer .rodape__links__sobre-nos {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .rodape__links__navegacao, footer .rodape__links__termos {
    display: none;
  }
  footer .rodape__seta {
    gap: 12rem;
    align-items: flex-end;
    margin-right: 2rem;
    margin-top: -14rem;
  }
  footer .rodape__seta__idioma {
    font-size: 1rem;
  }
  footer .rodape__seta__top-btn img {
    width: 2rem;
  }
} */
/* --------------  MAIN  ----------------  */
.container {
  background-color: #fff;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  width: 80vw;
}
.container__text {
  margin-top: 70px;
}
.container__text p {
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.container__content {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
}
.container__content div {
  width: 100%;
}
.container__content__text {
  display: flex;
  align-items: center;
}
.container__content__image img {
  width: 90%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}
.products-container__card {
  padding: 15px;
  box-shadow: 2px 2px 4px #000;
}
.products-container__card__product-image {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}
.products-container__card h3 {
  margin-bottom: 10px;
  color: #000;
  font-size: 24px;
}
.products-container__card__btn {
  font-weight: bold;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: #bdb2be;
  color: rgb(17, 16, 16);
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.products-container__card__btn:hover {
  background-color: #e5d9ec;
}

/* --------------  RESPONSIVIDADE ----------------  */
/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  p {
    font-size: 1rem;
    padding: 0 5px;
  }
  .container__text {
    margin-top: 50px;
  }
  .products-container {
    gap: 0;
  }
}
/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  p {
    font-size: 1rem;
    padding: 0 5px;
  }
  .container__text {
    margin-top: 50px;
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .products-container__card:last-child {
    grid-column: span 2;
    margin: 0 200px;
  }
  .products-container__card img {
    width: 260px;
    height: 150px;
  }
}
/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .products-container__card:last-child {
    grid-column: span 2;
    margin: 0 180px;
  }
}
/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  .products-container {
    display: flex;
    flex-direction: column;
  }
  .products-container__card {
    margin-bottom: 3rem;
  }
  .products-container__card:last-child {
    margin: 0;
  }
  .container {
    width: 95vw;
  }
  .container__detalhe {
    width: 45%;
    margin-left: 27%;
  }
  .container__text p {
    text-align: center;
    padding: 0 20px;
  }
  .container__content {
    display: block;
  }
  .container__content__image {
    margin-top: 1.5rem;
  }
  .container__content div img:nth-child(2) {
    display: flex;
    order: 1;
  }
}
