/* --------------  MAIN  ----------------  */
.main {
    position: relative;
    background-size: cover;
    padding-bottom: 1rem;
  }
  .main h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px 4px black;
    padding-top: 2rem;
  }
  .main__login {
    width: 600px;
    text-align: center;
    margin: 1rem auto 3rem auto;
    box-shadow: 4px 4px 8px 2px #949fab;
    border-radius: 0.3rem;
    padding: 2rem 0;
    background-color: #fff;
  }
  .main__login form {
    height: 100%;
    display: grid;
    place-items: center;
  }
  .main__login label {
    width: 70%;
    text-align: left;
    margin-top: 1.2rem;
    font-weight: 600;
  }
  .main__login input, .main__login select, .main__login textarea {
    width: 70%;
    padding: 1rem;
    margin: 0.8rem 0;
    border-radius: 0.3rem;
    border: 1px solid #949fab;
  }
  .main__login input, .main__login select, .main__login textarea {
    margin: 0;
    font-style: italic;
    font-weight: bold;
  }
  .main__login button {
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    opacity: 1;
    transition: 0.3s;
  }
  .main__login button:hover {
    opacity: 0.5;
  }
  
  /* --------------  RESPONSIVIDADE ----------------  */
  @media (max-width: 414px) and (orientation: portrait) {
    .main h1 {
      margin-bottom: -3rem;
    }
    .main__login {
      left: 0;
      width: auto;
      box-shadow: none;
    }
    .main__login input {
      padding: 0.5rem;
      margin: 0.3rem 0;
    }
  }
  